.right-sep {
    border-right: 2px solid var(--primary-mid, #333);
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    overflow: hidden;
}

.side-nav > li > a:hover {
    color: var(--red-mid);
    font-weight: bold;
}

.side-nav > li > a:visited {
    color: var(--red-dark);
}

.side-nav > .active > a{
    font-weight: bold;
    text-decoration: underline;
}
.side-nav > .active > a:visited{
    font-weight: bold;
    text-decoration: underline;
}


.figure {
    display: inline-block;
}

.figure > img {
    border: 2px solid var(--red-dark);
    max-height: 33vmin;
    margin: 0.5em;
}

.figure > span {
    font-size: 0.7rem;
    text-align: center;
    display: block;
    text-decoration: underline;
    color: var(--red-dark);
}
